<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!--    2ая лекция-->

    <bean id="dev" class="beans.Developer">
        <property name="name" value="Petja"/>
        <property name="skill" value="Java"/>
        <property name="level" value="2"/>
        <property name="yearsInFramework">
            <map>
                <entry key="Spring" value="3"/>
                <entry key="Hibernate" value="2"/>
                <entry key="Mockito" value="1"/>
            </map>
        </property>
    </bean>

    <bean id="tester" class="beans.AutomationTester">
        <property name="name" value="Vasja"/>
        <property name="skill" value="Python"/>
        <property name="level" value="1"/>
        <property name="favoriteFramework" value="Django"/>
        <property name="bro" value="true"/>
    </bean>

    <bean id="manager" class="beans.Manager">
        <property name="name" value="Ivan Ivanovich"/>
        <property name="emailPerHour" value="100">
        </property>
        <property name="engineers" ref="pool"/>
    </bean>

    <util:set id="pool" set-class="java.util.HashSet">
        <ref bean="tester"/>
        <ref bean="dev"/>
    </util:set>

    <!--    init-method пытается найти в классе Project метод, который возвращает тип void
    называется именно initProject и не ожидает там увидеть никакие параммтры. Т.е. генирируется
    сигнатура. Никакого способа задать парамметры здесь нет. Если будет метод с параметрами,
    то он его не найдет-->
    <bean id="ny_Time" class="beans.Project" init-method="initProject">
        <constructor-arg value="Backend for NYT"/>
        <constructor-arg>
            <list>
                <ref bean="dev"/>
                <ref bean="tester"/>
                <ref bean="manager"/>
            </list>
        </constructor-arg>
    </bean>

<!--    <bean id="InitBean" class="beanDefinition.InitBean"/>-->

    <bean id="bpp" class="beanDefinition.CustomBPP"/>
    <bean id="bpp2" class="beanDefinition.CustomBPP2"/>

</beans>

