<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    2ая лекция-->
    <bean id="dev" class="beans.Developer" scope="singleton">
        <property name="name" value="Petja"/>
        <property name="skill" value="Java"/>
        <property name="level" value="2"/>
        <property name="yearsInFramework">
            <map>
                <entry key="String" value="3"/>
                <entry key="Hibernate" value="2"/>
                <entry key="Mockito" value="1"/>
            </map>
        </property>
    </bean>

</beans>

